.posterContainer {
    width: 90%;
    display: flex;
    justify-content: space-between; 
    height: 650px;
    align-items: center;
    margin: 0 auto;
}

.fiction {
    width: 50%;
    height: 600px;
    align-items: center;
    margin: 0 auto;
}

.fiction img {
    width: 100%; 
    height: 600px;
    padding: 0 10px; 
}

.manga {
    width: 50%;
    height: 600px;
    align-items: center;
}

.manga img {
    width: 100%; 
    height: 600px;
    padding: 0 10px; 
}
.posterContainer p {
    align-items: center;
    font-weight: 600;
    font-style: italic;
    margin-left: 10px;
    font-size: 25px;
}
.bigPoster{
    width: 100%;
    height: 600px;
    align-items: center;
}
.bigPoster img{
    width: 100%;
    height: 600px;
    align-items: center;
}
@media(max-width:500px){
    .posterContainer p {
        font-size:  14px;
    }
    .bigPoster img{
        width: 100%;
        height: 300px;
        align-items: center;
    }
    .fiction img {
        width: 100%; 
        height: 300px;
        padding: 0 10px;
    }
    .manga img {
        width: 100%; 
        height: 300px;
        padding: 0 10px; 
    }
    .bigPoster{
        width: 100%;
        height: 300px;
        align-items: center;
    }
    .posterContainer {
        width: 90%;
        display: flex;
        justify-content: space-between; 
        height: 600px;
        align-items: center;
        margin: 0 auto;
    }
    
}