$margin-30: 30px;
$padding-30: 30px;
$width-full: 100vw;
$width-90: 90%;
$black-color: black;
$font-family-georgia: Georgia, 'Times New Roman', Times, serif;
$font-size-20: 20px;
$font-size-24: 24px;
$font-weight-500: 500;
$center: center;
$auto: auto;
$transition-time: 0.3s;

.allComboContainer {
    margin-top: $margin-30;
    padding: $padding-30;
    width: $width-full;
    display: flex;
    flex-direction: column;
    align-items: $center;
}

.trendingComboContainer {
    width: $width-90;
    margin: 0 $auto;

    .slick-slider {
        width: 80%;
        margin: 0 $auto; 
    }

    h1 {
        text-align: $center;
        font-style: italic;
        font-size: 25px;
    }
}

.trendingCombo {
    display: flex;
    flex-direction: column;
    align-items: $center;
    color: $black-color;
    font-size: $font-size-20;
    font-family: $font-family-georgia;
    font-weight: $font-weight-500;
    text-align: $center;
    margin: 20px 0; 

    p {
        font-size: $font-size-24; 
        font-family: $font-family-georgia;
        font-weight: $font-weight-500;
        text-align: $center;
        font-style: italic;
        margin-top: 10px;
    }
}

.trendingComboPic {
    mix-blend-mode: darken;
    width: 100%; 
    height: 500px; 
    border-radius: 20px;
    transition: transform $transition-time ease; 

    &:hover {
        cursor: pointer;
    }
}

.slick-prev, .slick-next {
    background: $black-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: $center;
    align-items: $center;
    z-index: 1;

    &:before {
        font-size: 20px;
        color: white;
        opacity: 1;
    }
}

.slick-dots {
    li {
        button:before {
            font-size: 10px;
            color: $black-color;
        }

        &.slick-active {
            button:before {
                color: $black-color;
            }
        }
    }
}

.slick-slide {
    padding: 0 10px; 
}

.slick-list {
    margin: 0 -10px;
}
@media(max-width: 500px) {
    .trendingComboPic {
        mix-blend-mode: darken;
        width: 90%; 
        height: 400px; 
        border-radius: 20px;
       
}
}
