.searchInput {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;
    height: 30px;
    width: 500px;
    margin: 10px;
    font-size: 16px;

    &::placeholder {
        color:black;

    }
}

.searchBar {
    img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 11px;
        border-radius: 3px;
        mix-blend-mode: darken;
        left: 10px;
    }
}
