$navbar-height: 80px;
$navbar-padding: 15px 7%;
$navbar-bg-color: var(--navbar-color);
$font-family: Godwit, MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$white-color: white;
$hover-bg-color: #ccccccd2;
$menu-bg-color: #fff;
$menu-border-color: black;
$menu-shadow-color: rgba(0, 0, 0, 0.1);
$menu-hover-bg-color: #ccccccb2;
$menu-hover-color: #555;

.navbarContainer {
    width: 100%;
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $navbar-padding;
    position: relative;
    // margin-top: ;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.918);
    font-family: $font-family;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}

.navbarLogo {
    img {
        border-radius: 50%;
        min-width: 10%;
        min-height: 10%;
        color: $white-color;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.userAccount {
    padding: 8px 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    transition: background-color 0.3s ease;
    font-size: 14px;
   

    &:hover {
        background-color: $hover-bg-color;
    }
}

.userCart {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    position: relative;

    .faShoppingCart {
        margin-right: 5px;
    }

    &:hover {
        background-color: $hover-bg-color;
    }

    .cartCount {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        color: white;
        font-size: 14px;
        line-height: 12px;
        font-weight: 700;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
    }
}


.menu {
    position: absolute;
    display: none;
    top: 90%;
    right: 80;
    background-color: $menu-bg-color;
    border-radius: 8px;
    border: 1px solid #33333363;
    box-shadow: 0 2px 4px $menu-shadow-color;
    padding: 10px 0;
    opacity: 0;
    min-width: 160px;
    z-index: 1000;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 12px 20px;
            font-size: 14px;
            color: #333;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $menu-hover-bg-color;
                color: $menu-hover-color;
                border-radius: 10px;
            }

            .fa {
                margin-right: 10px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(0, 0, 0, 0.116);
    }

    &.open {
        display: block;
        opacity: 1;
    }
}

.logoutButton {
    border: none;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    border-radius: 5px;

    &:hover {
        background-color: $menu-hover-bg-color;
        color: $menu-hover-color;
        cursor: pointer;
    }
}
.linkTo{
    text-decoration: none;
}
.fa-icon-navbar {
    margin-right: 5px;
    color: red;
}
.userProfile {
    display: flex;
    align-items: center;
  }
  
  .profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .userAccount {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  

@media (max-width: 1300px) {
    .searchInput {
        display: none;
    }
    .searchBar img {
        display: none;
    }
}

@media (max-width: 768px) {
    .searchInput {
        display: none;
    }
    .searchBar img {
        display: none;
    }
}
