$primary-font: 'Georgia', 'Times New Roman', Times, serif;
$primary-color: black;
$accent-color: red;
$background-color: #ffffffc5;

.allBookContainer {
    margin-top: 30px;
    padding: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trendingBookContainer {
    width: 100%;

    .slick-slider {
        width: 90%;
        margin: 0 auto;
    }
}

.trendingBook {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    color: $primary-color;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 500;
    text-align: center;
    flex: 1;
    position: relative;
    transition: 0.5s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    .trendingbookPic {
        mix-blend-mode: darken;
        align-items: center;
        width: 100%;
        height: 400px;
        border-radius: 10px;
        box-shadow: 2px 2px 7px;
        padding: 10px;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
        }
    }

    .hrIcon {
        width: 80%;
        border: 0.5px solid #e0e0e0;
        margin-top: 20px;
    }

    .bookTitle {
        font-size: 20px;
        font-weight: 700;
        color: #504f4f;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 10px;
    }

    .bookAuthor {
        font-size: 15px;
        font-weight: 400;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sale-off {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $accent-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        font-size: 14px;
        line-height: 40px;
        font-weight: 700;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;

        .oldPrice {
            text-decoration: line-through;
            color: grey;
            font-size: 14px;
        }

        .newPrice {
            color: $accent-color;
            font-size: 17px;
            font-weight: bold;
        }
    }

    .seeDetails {
        position: absolute;
        top: 350px;
        right: 80px;
        width: 90px;
        height: 30px;
        line-height: 15px;
        font-family: $primary-font;
        border: 1px solid $accent-color;
        color: $accent-color;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: $background-color;
            transform: scale(0.95);
        }
    }

    &:hover {
        .seeDetails {
            display: block;
            transform: scale(0.95);
        }
    }
}

.seeAll {
    color: $accent-color;
    text-align: center;
    margin-top: 30px;
}

.trendingBookContainer {
    h1 {
        text-align: center;
        font-style: italic;
        font-size: 25px;
    }
}

/* Custom Arrow Styling */
.slick-prev, .slick-next {
    background: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:before {
        font-size: 20px;
        color: white;
        opacity: 1;
    }
}

.slick-dots li button:before {
    font-size: 10px;
    color: black;
}

.slick-dots li.slick-active button:before {
    color: black;
}
@media (max-width: 500px) {
    .trendingBook {
        position: relative;
        .seeDetails {
            position: static; 
            display: block;
            top: 350px;
            right: 300px;
            right: auto; 
            width: auto; 
            margin-top: 10px;
            margin: 0 auto;
        }
        .bookTitle {
            font-size: 10px;
            font-weight: 100;
            color: #676767;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;

        }
        .bookAuthor {
            font-size: 15px;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        .sale-off {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $accent-color;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            color: white;
            font-size: 12px;
            line-height: 35px;
            font-weight: 800;
        }
    
        .price {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .oldPrice {
                text-decoration: line-through;
                color: grey;
                font-size: 12px;
            }
    
            .newPrice {
                color: $accent-color;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}