.HistoryTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    margin: 20px auto;
    position: absolute;
    right: 80px;
    top: 300px;
  }
  .goBackButton{
    padding-right: 5px;
  }
  
  .HistoryTable a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }
  
  .HistoryTable a i {
    margin-right: 10px;
  }
  
  .HistoryTable a:hover {
    background-color: #007bff;
    color: #fff;
  }
  .headerBack{
    text-align: center; 
    width: 100% ;
  }
  