.footerContainer{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
.col > a {
    padding-top: 10px;
    display: block; 
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.col .footerHeader{
    display: block; 
    align-items: center;
    color: red;
}
.col > a:hover {
    text-decoration: underline;
    font-weight: 700;
}
.footerHR{
    width: 90%;
    border: 1px solid lightgray;
    
}
